import * as S from './{{pascalCase name}}.styles';

/**
 * Component that will __________
 */
export default function {{pascalCase name}}() {
  return (
    <S.Wrapper>
      <h1>{{pascalCase name}}</h1>
    </S.Wrapper>
  );
}

